.property-parent {
  padding: 100px 0;

  .property-cont {
    .image-grid {
      display: flex;
      gap: 10px;
      width: 100%;

      .left-img {
        width: 50%;
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10px 0px 0px 10px;
      }

      .right-img-box {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .right-img1,
        .right-img2 {
          width: 100%;
          height: 145px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
    //Bottom side scss
    .first-new-box {
      display: flex;
      padding-top: 20px;
      gap: 20px;

      .left-side-box {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 10px;
        .sec-indicator {
          padding: 5px 10px;
          border: 1px solid var(--accent);
          width: fit-content;
          border-radius: 50px;
          color: var(--accent);
          font-size: 14px;
          font-weight: 600;
        }
        .heading {
          font-family:
            ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          font-size: 40px;
          font-weight: 800;
          line-height: 50px;
          color: rgb(17, 24, 39);
        }
        .address {
          display: flex;
          align-items: center;
          gap: 5px;
          svg {
            color: var(--accent);
          }
          span {
            color: rgba(0, 0, 0, 0.611);
            font-size: 14px;
          }
        }
        .like {
          background: white;
          display: flex;
          align-items: center;
          padding: 10px;
          width: fit-content;
          border-radius: 50%;
          box-shadow: var(--shadow);
          font-size: 20px;
        }
        .main-card-box {
          display: flex;
          flex-wrap: wrap;
          gap: 20px;

          .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            width: calc(100% / 4 - 20px);
            background: rgba(128, 128, 128, 0.074);
            border-radius: 10px;
            border: 1px solid rgba(133, 129, 129, 0.101);
            .icon {
              color: var(--accent);
              font-size: 20px;
            }
            .number {
              font-weight: 600;
            }
            .desc {
              font-size: 12px;
              color: rgba(0, 0, 0, 0.704);
            }
          }
        }
        .new-desc-box {
          display: flex;
          padding-top: 20px;
          flex-direction: column;
          gap: 15px;
          h4 {
            font-family:
              ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
            color: rgb(17, 24, 39);
          }
          p {
            font-family:
              ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: rgb(71, 85, 105);
          }
        }
        .amenities-box {
          padding-top: 40px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          h4 {
            font-family:
              ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
            color: rgb(17, 24, 39);
          }
          .amenities-list {
            display: flex;
            ul {
              list-style: none;
              display: flex;
              gap: 30px;
              flex-wrap: wrap;
              margin: 0;
              padding: 0;
              li {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 200px;

                .icon {
                  display: flex;
                  color: var(--accent);
                }
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
      .right-side-box {
        display: flex;
        gap: 20px;
        width: 30%;
        flex-direction: column;
        .first-box {
          display: flex;
          flex-direction: column;
          gap: 10px;
          background: var(--accent);
          width: 100%;
          border-radius: 10px;
          padding: 20px;
          height: fit-content;
          h5 {
            color: rgba(255, 255, 255, 0.61);
          }
          .price {
            font-family:
              ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
              "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 36px;
            font-weight: 800;
            line-height: 45px;
            color: rgb(255, 255, 255);
          }
          p {
            color: rgba(255, 255, 255, 0.61);
            font-size: 12px;
          }
        }
        .second-box {
          display: flex;
          border: 1px solid rgba(148, 148, 148, 0.344);
          padding: 20px;
          border-radius: 10px;
          box-shadow: var(--shadow);
          flex-direction: column;
          gap: 30px;
          .top {
            display: flex;
            gap: 20px;
            align-items: center;
            .name {
              background: rgb(9, 114, 95);
              padding: 10px;
              border-radius: 50%;
              width: 60px;
              height: 60px;
              align-items: center;
              justify-content: center;
              display: flex;
              font-size: 26px;
              color: var(--white);
              font-weight: 500;
            }
            .user {
              display: flex;
              flex-direction: column;
              font-size: 20px;
              font-weight: 600;
              span {
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 12px;
                font-weight: 400;
                color: var(--accent);
              }
            }
          }
          .middle {
            display: flex;
            flex-direction: column;
            gap: 40px;
            .chat {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              gap: 10px;
            }
            .inquire {
              font-size: 14px;
              font-weight: 600;
            }
          }
          .last-box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            background: rgba(128, 128, 128, 0.051);
            padding: 10px;
            border-radius: 5px;
            p {
              text-align: center;
              font-size: 12px;
              font-weight: 400;
            }
            .btn {
              font-size: 14px;
              width: 100%;
              align-items: center;
              display: flex;
              justify-content: center;
              border-radius: 10px;
            }
          }
        }
      }
    }

    //second-new-box
    .second-main {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      background: white;
      box-shadow: var(--shadow);
      padding: 20px;
      border-radius: 10px;
      .heading {
        font-family:
          ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        color: rgb(17, 24, 39);
        padding-bottom: 20px;
      }
      .card {
        border-bottom: 1px solid rgba(0, 0, 0, 0.044);
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        .idd {
          color: rgba(0, 0, 0, 0.407);
          font-size: 14px;
        }
        .added-on {
          display: flex;
          gap: 20px;
          font-weight: 500;
          span {
            color: rgba(0, 0, 0, 0.407);
            font-size: 14px;
            font-weight: 400;
          }
        }
        .date {
          color: rgba(0, 0, 0, 0.407);
          font-size: 14px;
        }
      }
      .card:nth-child(2) {
        border-top: 1px solid rgba(0, 0, 0, 0.044);
      }
    }

    //third box
    .last-third {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding-top: 50px;
      .top {
        display: flex;
        justify-content: space-between;

        .headings {
          display: flex;
          flex-direction: column;
          font-family:
            ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
            "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          font-size: 28px;
          font-weight: 800;
          line-height: 35px;

          color: rgb(17, 24, 39);

          span {
            font-size: 14px;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.581);
          }
        }
        .list-btn{
          display: flex;
          gap: 10px;
          font-size: 14px;
          font-weight: 600;
          align-items: center;
          color:black;
          span {
            display: flex;
          }
        }
      }
      .bottom {
        display: flex;
        background: #F8FAFC;
        padding: 20px;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow:var(--shadow);
        font-size:12px;
        height:200px;
      }
    }
  }
}

@media only screen and (max-width:1000px){
  .property-parent{
    padding:40px 0px;
    .property-cont{

      .first-new-box{
        flex-direction: column;
        .left-side-box{
          width:100%;
          .heading{
            font-size: 40px;
          }
          .new-desc-box, .amenities-box{
            h4{
              text-align: left;
            }
          }
        }
        .right-side-box{
          width: 100%;
          .first-box{
            h5{
              text-align: left;
            }
          }
        }
      }
    }
  }
}
