.property-main-card {
  display: flex;
  width: calc(33.333% - 10px);
  flex-wrap: wrap;
  transition: var(--trans);

  /* LIST VIEW */
  &.list {
    width: 100%;

    .card {
      flex-direction: row;
      height: 320px;

      .top-card {
        width: 40%;
        height: 100%;
      }

      .bottom-card {
        width: 60%;
      }
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(133, 133, 133, 0.222);
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: var(--trans);
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);

      .bg-img {
        transform: scale(1.15);
      }
    }

    .top-card {
      display: flex;
      width: 100%;
      position: relative;
      height: 250px;
      overflow: hidden;

      .bg-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: var(--trans);
      }

      .overlay {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40%;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.9),
          rgba(0, 0, 0, 0.1)
        );
      }

      .content {
        position: absolute;
        top: 10px;
        left: 10px;
        display: flex;
        gap: 10px;

        .btn1 {
          background: rgb(241, 240, 240);
          padding: 5px 15px;
          border-radius: 50px;
          font-size: 12px;
          font-weight: 700;
        }

        .btn2 {
          display: flex;
          gap: 10px;
          background: var(--accent);
          color: white;
          padding: 5px 15px;
          border-radius: 50px;
          font-size: 12px;
          font-weight: 700;

          .icon {
            display: flex;
            align-items: center;
          }
        }
      }

      .like {
        position: absolute;
        right: 10px;
        top: 10px;
        border: none;
        background: rgb(241, 240, 240);
        padding: 5px;
        display: flex;
        align-items: center;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
        transition: var(--trans);

        &:hover, &.active {
          color: rgb(243, 60, 91);
        }
      }

      .price {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 24px;
        font-weight: 800;
        color: white;
      }
    }

    .bottom-card {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 10px;

      .first-box {
        display: flex;
        justify-content: space-between;

        .first {
          font-size: 12px;
          font-weight: 700;
          color: rgb(13, 148, 136);
        }

        .second {
          display: flex;
          align-items: center;
          gap: 10px;

          span {
            font-size: 13px;
            font-weight: 600;
          }
        }
      }

      .second-box {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.085);
        padding-bottom: 10px;

        .headingg {
          font-size: 18px;
          font-weight: 700;
        }

        .address {
          display: flex;
          align-items: center;
          gap: 6px;
          color: rgba(17, 24, 39, 0.622);
          font-size: 14px;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 60%;
          }
        }
      }

      .third-box {
        display: flex;
        padding-bottom: 20px;

        .one {
          width: calc(100% / 3);
          display: flex;
          flex-direction: column;
          align-items: center;
          border-right: 1px solid rgba(0, 0, 0, 0.085);

          .icon {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.54);
          }

          .dess {
            font-size: 12px;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }

      .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--accent);
        color: white;
        padding: 5px;
        border-radius: 50px;
        transition: var(--trans);

        &:hover {
          background: #014741;
        }
      }
    }
  }
}

/* Tablet */
@media only screen and (max-width: 1000px) {
  .property-main-card {
    width: calc(50% - 10px);

    &.list {
      width: 100%;
    }
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  .property-main-card,
  .property-main-card.list {
    width: 100%;

    .card {
      flex-direction: column;
      height: auto;

      .top-card {
        width: 100%;
        height: 250px;
      }

      .bottom-card {
        width: 100%;
      }
    }
  }
}