.forgot-parent {
  background: #f8fafc;

  .forgot-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    .form-box {
      max-width: 450px;

      background: #fff;
      padding: 40px;
      border-radius: 10px;
      box-shadow: var(--shadow);
      display: flex;
      flex-direction: column;

      .heading {
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        color: var(--accent);
        margin-bottom: 10px;
      }

      > p {
        text-align: center;
        color: #64748b;
        margin-bottom: 30px;
        font-size: 15px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap:20px;

        label {
          font-size: 14px;
          font-weight: 600;
          color: var(--black);
        }

        input {
          width: 100%;
          padding: 14px 16px;
          border: 1px solid #e2e8f0;
          border-radius: 8px;
          outline: none;
          font-size: 14px;
          transition: var(--trans);
          margin-top:-10px;

          &:focus {
            border-color: var(--accent);
          }

          &::placeholder {
            color: #94a3b8;
          }
        }

       

        .btn {
          width: 100%;
          border: none;
          background: var(--accent);
          color: white;
          padding: 14px;
          border-radius: 8px;
          font-size: 15px;
          font-weight: 600;
          cursor: pointer;
          transition: var(--trans);

          &:hover {
            opacity: 0.9;
            border:1px solid var(--accent);
            background:var(--white);
          }
        }

        p {
          text-align: center;
          color: #64748b;
          font-size: 14px;
          margin-top: 10px;

          a {
            color: var(--accent);
            font-weight: 600;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .forgot-parent {
    .forgot-cont {
      padding: 100px 15px 40px;

      .form-box {
        padding: 25px;

        .heading {
          font-size: 24px;
        }
      }
    }
  }
}
