.properties-parent {
  background: #f8fafc;
  .properties-cont {
    padding: 100px 0px;
    display: flex;
    gap: 10px;


    //left side SCSS
    .left-sidebar {
      width: 20%;
    }

    // right side scss
    .right-side {
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .top-sidebar {
        display: flex;
        justify-content: space-between;
        background: white;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        box-shadow: var(--shadow);
        p {
          font-size: 14px;
          span {
            font-size: 16px;
            color: var(--black);
            font-weight: 700;
          }
        }
        .last-box {
          display: flex;
          gap: 20px;
          align-items: center;
          .first {
            background: #f1f5f9;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            border-radius: 10px;

            .icon-box {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 8px;
              border-radius: 8px;
              font-size: 22px;
              color: rgba(0, 0, 0, 0.511);
              cursor: pointer;
              transition: var(--trans);

              &.active {
                background: #fff;
                color: var(--accent);
                box-shadow: var(--shadow);
              }
            }
          }
          .second {
            display: flex;
            gap: 5px;
            align-items: center;

            label {
              color: rgba(0, 0, 0, 0.475);
              font-size: 14px;
            }

            select {
              color: rgba(0, 0, 0, 0.495);
              padding: 5px;
              border-radius: 5px;
              border: 1px solid rgba(0, 0, 0, 0.127);
              outline: none;

              &:focus,
              &:focus-visible {
                border: 1px solid var(--accent);
                outline: none;
              }
            }
          }
        }
      }
      .card-sections {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}
